/* ====== Variables ====== */

:root{

    /* ====== Color Palette ====== */
    /* 
            color1: HEX #956BBF == HSL 270,39,58
            color2: HEX #662B8C == HSL 276,53,35
            color3: HEX #F2F2F2 == HSL 0,0,100
    */

    --purple-light: hsl(270, 39%, 58%);
    --purple-solid: hsl(276, 53%, 35%);
    --white-rabbit: hsl(0, 0%, 100%);
    --shadow-gray: rgba(0, 0, 0, 0.2);


    /* ====== Font Size ====== */   

    --biggest-font-size: 6rem;
    --biger-font-size: 2.4rem;
    --big-font-size: 2rem;
    --nav-font-size: 1.8rem;
    --normal-font-size: 1.5rem;

    



}

html{
    font-size: 62.5%; 
    background-color: var(--purple-light);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
   position: relative;
}

.rectangulo{ 
    margin: 100px auto;
    border-radius: 3rem; 
    width: 1200px;
    height: 670px;
    background-color: var(--purple-solid); 
    border: .4rem solid var(--white-rabbit);
    position: relative;
}

.container-img{
    position: relative;
}


.img-calzado{
    margin-top: 5px;
    height: 420px;
    position: absolute;
    left: 380px;
    transform: rotate(-50deg);
    z-index: 100;
}

.nav-container{
    display: inline-block;
    z-index: 200;
}

.img-nike{
    position: relative;
    width: 76px;
    height: 30px;
    left: 70px;
    top: 30px;
    filter: invert(100%); 
}

.img-nike:hover{
    cursor: pointer;
    width: 85px;
    
}

.shadow{
    position: relative;
    height: 150px;
    width: 800px;
    background-color: var(--shadow-gray);
    filter: blur(30px);
    transform: rotate(-50deg);
    border-radius: 1000px;
    left: 630px;
    top: 300px;
}

.nav-container{
    position:relative;
}

.nav-list{
    list-style: none;
    font-style:normal;
    font-weight:lighter;
    font-size: var(--nav-font-size);
    line-height: 2.8rem;
    color:var(--white-rabbit);
    margin-left: 200px;
    font-family: 'Inter', sans-serif;
    margin-top: -30px;
}

.nav-list li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}



.nav-list li:hover{
    font-weight:bold;
    border-bottom-style:groove;
    cursor:pointer ;
}





/* Se sustituye por la implementación del efecto hover */

/* 

#women {
    font-weight:bold;
    border-bottom-style:groove;
} 

*/

.img-sidebar{
    position: absolute;
    filter: invert(100%); 
    left: 50px;
    top: 175px;
    height: 220px;
}

.text-box{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 200px;
    top: 130px;
    color: var(--white-rabbit);
}

#titulo{
    font-size: var(--biggest-font-size);
    font-family: 'Inter', sans-serif;
    font-weight: bold;

}

#titulo:hover{
    cursor: pointer;

}


#subtitulo{
    font-size: var(--biger-font-size);
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin-top: 10px;
}

#description{
    font-size: var(--normal-font-size);
    font-family: 'Inter', sans-serif;
    font-weight:lighter;
    margin-top: 7px;
}

.footer{
    position: absolute;
    
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: var(--purple-light);
    border-radius: 0 0px 2.5rem 2.5rem;
}

.img-play{
    float: right;
    display:flex;
    flex-direction:column;
    margin-right: 20px;
    font-size: var(--big-font-size);
    font-family: 'Inter', sans-serif;
    color: var(--white-rabbit);
    text-align: center;  
    margin-top: -130px;
}

.img-play img{
    padding: 2px;
}

.img-play img:hover{
    cursor:pointer ;
}

#img-one{
    margin: 5px;
    height: 120px;
    width: 120px;
    margin-left: 50px;
    border-radius: 1rem;
}

#img-two{
    margin: 5px;
    height: 120px;
    width: 120px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 1rem;
}
#img-three{
    margin: 5px;
    height: 120px;
    width: 120px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 1rem;
}

#img-one:hover,
#img-two:hover,
#img-three:hover{
    cursor: pointer;
}